@import "tailwindcss";

/* Enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Hide scrollbar but keep scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.testimonial-slider .swiper-button-next:hover::after,
.testimonial-slider .swiper-button-prev:hover::after {
  color: white;
}

/* Pagination */
.testimonial-slider .swiper-pagination-bullet {
  background: #CBD5E1;
  opacity: 1;
}

.testimonial-slider .swiper-pagination-bullet-active {
  background: #f0efef;
}